
@{
    ViewBag.Title = "GetStudentsData";
}

<h2>Students Data</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
    </tr>
    <tr>
        <td>Sadan</td>
        <td>BLR</td>
    </tr>
    <tr>
        <td>Pragya</td>
        <td>BLR</td>
    </tr>
    <tr>
        <td>Rudra</td>
        <td>BLR</td>
    </tr>
</table>

